<%- include('../partials/header') %>
<br>
<h3>Assignment, Detailed View</h3>

<section class="sectStyle">
    <h2 class="itm"> <%= assignment.title %> </h2>
    <br>
    <div><b>Assignment Instructions</b></div>
    <br>
    <div><%= assignment.text%></div>
    <br>
    <div><b>Completed:&nbsp</b><%= assignment.complete === true ? 'Yes' : 'No' %></div>
    <br>
    <div><b>Links</a></div>
        <br>
        <% assignment.link.forEach(function(l,idx) { %>
        <li class='notBullet'><a href="<%= assignment.link[idx] %>"><%= assignment.link[idx] %></a></li>
    <% }) %>
    <br>
    <div><b>Instructor:&nbsp</b><%= assignment.instructor %></div>
    <br>
    <button onclick="location.href='/assignments/<%= assignment.id %>/edit'" type='button' class='btn'>Update Assignment</button>
    <br>
    <br>
    <form action="/assignments/<%= assignment.id %>?_method=DELETE"
        class="delete-form" method="POST"> 
        <button class='btn delBtn' type="submit">Delete Assignment</button> 
   </form>
</section> 

<%- include('../partials/footer') %>