<%- include('../partials/header') %>

<body>
    <br>
    <h1>Session Subjects and Times</h1>
    <button onclick="location.href='/sessions/new'" type='button' class='btn'>Schedule a Lesson</button>
    <br>
    <br>
    <div class="gridSessions">
        <% sessions.forEach(function(i) { %>
            <ul class="ulStyle" style="list-style-type:none">
                    <li class="li"><h3><u><%= i.subject %></u></h3></li>
                    <li class="li"><u>Student</u></li>
                    <li class="li"><%= i.student %></li>
                    <br>
                    <li class="li"><u>Date & Time</u></li>
                    <li class="li"><small><%= i.when.toLocaleString([],{hour: '2-digit', minute: '2-digit'}) %></small></li>
                    <li class="li"><small><%= i.duration %> minutes</small></li>
                    <br>
                    <li class="li">Instructed by:&nbsp <%= i.instructor %></li>
                    <br>
                    <li class="li"><a href="/sessions/<%= i._id %>">View Details</a></li>
            </ul>
        <% }); %>
    </div>
</body>

<%- include('../partials/footer') %>